.DS_Store
output
tmp
.idea
*.log
*.lock
.sass-cache
*.idea
*.iml
.gradle
build
src/main/resources/static/docs/reference/*
src/main/resources/static/docs/raw/*
src/main/resources/static/docs/api/*
src/main/resources/static/assets/css/*
